    <nav>
        <div class="site-title">
            <h1 class="logo">Blog JAY</h1>
            <a href="/"><img src="/logo.png" class="logo" alt="logo"></a>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/blogs/create">Create Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            
        </ul>
    </nav>