<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="notfound">
        <h2>Error 404 not found...</h2>
        <h2>Lost your way?</h2>
        <a class="button" href="/">Home</a>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>