<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <h1>About</h1>
    <div class="about content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat repudiandae blanditiis iusto veritatis eaque atque itaque aliquid fuga aspernatur maxime reprehenderit ex cumque ab dolores, quas recusandae id omnis aliquam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat repudiandae blanditiis iusto veritatis eaque atque itaque aliquid fuga aspernatur maxime reprehenderit ex cumque ab dolores, quas recusandae id omnis aliquam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat repudiandae blanditiis iusto veritatis eaque atque itaque aliquid fuga aspernatur maxime reprehenderit ex cumque ab dolores, quas recusandae id omnis aliquam.</p>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>