<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <h1>About</h1>
    <div class="about content">
        <% if(about.length > 0){ %> 
            <% about.forEach(about => { %> 
            <p><%= about.content %> </p>
            <% }) %> 
        <% } %> 
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>