<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <h1>Contact</h1>
    <div class="about content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, impedit eveniet quis eius tempora temporibus, voluptatibus modi odio minima similique cum. Consectetur in exercitationem quidem quae voluptas qui ducimus saepe!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, impedit eveniet quis eius tempora temporibus, voluptatibus modi odio minima similique cum. Consectetur in exercitationem quidem quae voluptas qui ducimus saepe!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, impedit eveniet quis eius tempora temporibus, voluptatibus modi odio minima similique cum. Consectetur in exercitationem quidem quae voluptas qui ducimus saepe!</p>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>